Repository cempassi/taskmaster, pull requests merged in 2021-05, with the labels that each got.

#48 Feature/logging
  Cargo.toml
  src/main.rs
  src/server/listener.rs
  src/server/mod.rs
  src/server/reader.rs
  src/server/state.rs
  src/server/watcher.rs
  src/server/worker.rs
  src/shared/logger.rs
  src/shared/mod.rs
Labels: enhancement, important, server

#42 Feature/better config
  configs/example.toml
  configs/example.yml
  configs/minimal.toml
  configs/with_autostart.toml
  configs/with_env.toml
  configs/with_exitcodes.toml
  configs/with_numprocess.toml
  configs/with_restart.toml
  configs/with_retry.toml
  configs/with_stderr.toml
  configs/with_stdout.toml
  configs/with_stopdelay.toml
  configs/with_stopsignal.toml
  configs/with_successdelay.toml
  configs/with_umask.toml
  configs/with_workingdir.toml
  src/server/reader.rs
  src/server/state.rs
  src/server/task.rs
Labels: configuration, enhancement

#45 Bugfix/socket panic
  src/server/error.rs
  src/server/listener.rs
  src/server/state.rs
  src/server/watcher.rs
Labels: bug, important, server

#43 Add start task to client
  src/client/mod.rs
  src/server/error.rs
  src/server/mod.rs
  src/server/state.rs
Labels: client, enhancement

#53 Feature/12 add status command
  configs/example.yml
  src/client/mod.rs
  src/server/mod.rs
  src/server/state.rs
  src/server/task.rs
  src/server/worker.rs
  src/shared/message.rs
  src/shared/mod.rs
Labels: client, enhancement, server, task

#54 Add stop task to client
  configs/example.toml
  src/client/mod.rs
  src/server/worker.rs
Labels: client

#59 correct warning on channel send
  src/server/state.rs
Labels: bug, server

#62 use default serde & rework ReadTask
  src/server/default.rs
  src/server/reader.rs
  src/server/relaunch.rs
  src/server/signal.rs
  src/server/state.rs
  src/server/task.rs
Labels: refactor, server, task

#63 use serde rename all for relaunch
  src/server/relaunch.rs
Labels: refactor, server

#66 Feature/replace libc by nix
  Cargo.toml
  src/server/default.rs
  src/server/mod.rs
  src/server/nix_utils.rs
  src/server/task.rs
Labels: client, refactor, server

#67 Feature/drop children on close
  src/server/monitor.rs
  src/server/nix_utils.rs
Labels: enhancement, server

#68 Feature/rework internal message
  src/server/communication.rs
  src/server/listener.rs
  src/server/message.rs
  src/server/mod.rs
  src/server/signal.rs
  src/server/watcher.rs
  src/shared/message.rs
Labels: refactor, server

#71 Feature/use nix signal
  src/server/default.rs
  src/server/nix_utils.rs
  src/server/signal.rs
  src/server/task.rs
Labels: refactor, server, task

#69 Feature/rework wait subprocess
  src/server/message.rs
  src/server/mod.rs
  src/server/monitor.rs
  src/server/state.rs
  src/server/task.rs
  src/server/waiter.rs
Labels: refactor, server

#70 Feature/rename quit command
  src/client/mod.rs
Labels: client, refactor

#77 Rework listener to add server->client communication
  src/server/communication.rs
  src/server/inter.rs
  src/server/listener.rs
  src/server/mod.rs
  src/server/monitor.rs
  src/server/signal.rs
  src/server/state.rs
  src/server/waiter.rs
  src/server/watcher.rs
Labels: client, refactor, server

#76 Feature/restart task
  configs/restart.yml
  src/client/mod.rs
  src/server/mod.rs
  src/server/monitor.rs
  src/shared/message.rs
  test/bin/show_pid.py
Labels: server, task

#74 Feature/set env for subprocess
  configs/with_env.toml
  configs/with_env.yml
  src/server/default.rs
  src/server/task.rs
Labels: server, task

#78 Feature/rework stop process v2
  src/server/inter.rs
  src/server/mod.rs
  src/server/monitor.rs
  src/server/state.rs
  src/server/task.rs
  src/server/waiter.rs
Labels: enhancement, server, task

#83 Feature/add docker
  .dockerignore
  Dockerfile
Labels: enhancement

#84 Feature/rework waiter
  src/server/inter.rs
  src/server/manager.rs
  src/server/mod.rs
  src/server/monitor.rs
  src/server/waiter.rs
Labels: refactor, server, task

#85 Feature/merge waiter n state
  src/server/manager.rs
  src/server/mod.rs
  src/server/state.rs
  src/server/waiter.rs
Labels: enhancement, refactor, server

#86 Feature/merge manager n monitor
  src/server/inter.rs
  src/server/manager.rs
  src/server/mod.rs
  src/server/monitor.rs
  src/server/state.rs
  src/server/task.rs
Labels: refactor, server
